#top{font-size: 20;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: darkkhaki;}
p.dotted{border-style: dotted;color: darkorange;}
#sub{background-color: coral;}
body{background-image:url("https://wallpapers.com/images/hd/anime-girl-on-desk-study-aesthetic-lskhrxrhvdngtulp.jpg");}
label{font-weight: 200;color: rgb(255, 221, 0);}